.addspecification .additem {
  margin-bottom: 30px;
}

.addspecification .specification-add {
  width: 100%;
  overflow: hidden;
}

.addspecification .specification-add div {
  width: 100px;
  height: 32px;
  float: left;
}

.addspecification .specification-container {
  width: 100%;
  overflow: hidden;
}

.addspecification .specification-header .movebutton {
  width: 40px;
  height: 32px;
  background-color: #2db7f5;
  color: #fff;
  text-align: center;
  line-height: 32px;
  border-radius: 4px;
}

.addspecification .specification-header .deletebutton {
  width: 40px;
  height: 32px;
  background-color: #ed4014;
  color: #fff;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  line-height: 29px;
  border-radius: 4px;
}

.addspecification .specification-body {
  width: 100%;
  overflow: hidden;
}

.addspecification .specification-content {
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #e7eaec;
  padding: 15px;
  border-radius: 5px;
}

.addspecification .specification-body .specification-item {
  float: left;
  width: 380px;
  padding: 5px;
  margin-right: 20px;
  margin-top: 20px;
}

.addspecification .specification-body .specification-item>.specification-item-top {
  width: 350px;
  height: 30px;
  overflow: hidden;
  margin-bottom: 5px;
}

.addspecification .specification-body .specification-item>.specification-item-top>div {
  float: left;
}

.addspecification .specification-body .specification-item>.specification-item-top>div:nth-child(1) {
  width: 35px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #dcdee2;
}

.addspecification .specification-body .specification-item>.specification-item-top>div:nth-child(1) .ivu-checkbox-wrapper {
  margin-right: 0;
}

.addspecification .specification-body .specification-item>.specification-item-top>div:nth-child(2) {
  width: 224px;
  border: none;
}

.addspecification .specification-body .specification-item>.specification-item-top>div:nth-child(2) .specification-item-input {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 1.5;
  padding: 4px 7px;
  font-size: 12px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  color: #515a6e;
  background-color: #fff;
  background-image: none;
  position: relative;
  cursor: text;
  transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
}

.addspecification .specification-body .specification-item>.specification-item-top>div:nth-child(3) {
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  border: 1px solid #dcdee2;
}

.addspecification .specification-body .specification-item>.specification-item-top>div:nth-child(3) .ivu-radio-wrapper {
  margin-right: 0;
}

.addspecification .specification-body .specification-item>.specification-item-top>div:nth-child(4) {
  width: 40px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #dcdee2;
  text-align: center;
  cursor: pointer;
}

.addspecification .specification-body .specification-item .specification-item-top .specification-radio .ivu-radio-wrapper {
  margin-right: 0;
  line-height: 10px;
}

.addspecification .specification-body .specification-item .specification-item-top .specification-radio .delete-iconfont{
  cursor: pointer;
}
.addspecification .specification-body .specification-item .specification-item-bottom {
  overflow: hidden;
  height: 32px;
}

.addspecification .specification-body .specification-item .specification-item-bottom>div {
  float: left;
  height: 32px;
}

.addspecification .specification-body .specification-item .specification-item-bottom>div:nth-child(1) {
  width: 85px;
}

.addspecification .specification-body .specification-item .specification-item-bottom>div:nth-child(1)>div {
  width: 100%;
}

.addspecification .specification-body .specification-item .specification-item-bottom>div:nth-child(2) {
  width: 200px;
}

.addspecification .specification-body .specification-item .specification-item-bottom>div:nth-child(2)>input {
  width: 100%;
  display: inline-block;
  width: 100%;
  height: 32px;
  line-height: 1.5;
  padding: 4px 7px;
  font-size: 12px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  color: #515a6e;
  background-color: #fff;
  background-image: none;
  position: relative;
  cursor: text;
  -webkit-transition: border .2s ease-in-out, background .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: border .2s ease-in-out, background .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
  transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.addspecification .specification-body .specification-item .specification-item-bottom>div:nth-child(4) {
  width: 41px;
  height: 32px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
}

.addspecification .imgselectbutton {
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 29px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
}

.addspecification .imgselectbutton .imgselect {
  position: absolute;
  top: 0;
  left: 0;
}

.addspecification .imgselectbutton .imgselect .fileshowbtn {
  width: 40px;
  height: 30px;
  border: none;
}

.addspecification .imgselectbutton .sfmgshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30px;
}

.addspecification .imgselectbutton .sfmgshow img {
  display: block;
  width: 40px;
  height: 30px;
}

.addspecification .imgselectbutton .sfmgshowup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 40px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.addspecification .specification-body .specification-item .specification-item-bottom>div:nth-child(4):hover .sfmgshowup {
  display: block;

}

.addspecification .imgselectbutton:hover .sfmgshowup {
  display: block;

}

.addspecification .imgtemp .temcontainer:hover .sfmgshowup {
  display: block;
}


.addspecification .imgseleccontainer .imgtemp .sfmgshow img {
  display: inline-block;
  width: 40px;
  height: 30px;
}

.addspecification .imgtemp .sfmgshowup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 40px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  line-height: 27px;
}

.addspecification .check-all {
  width: 150px;
  overflow: hidden;
}

.addspecification .check-all>div {
  float: left;
}

.addspecification .check-all>div .ivu-btn-icon-only {
  padding: 2px 10px 2px;
  font-size: 12px;
  border-radius: 4px;
}

.addspecification .imgseleccontainer .imgtemp {
  float: left;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.addspecification .imgseleccontainer .imgtemp .temcontainer {
  position: relative;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

#specificationtable .tabletitle {}

#specificationtable td {
  padding: 5px;
}

#specificationtable td input {
  width: 100px;

}
